h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  color: rgba(var(--color), 0.87);
}

.share {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;

  button {
    display: flex;
    margin: 0;
    border-radius: 8px 8px 0 0;

    &::before {
      content: '✔';
      opacity: 0;
      margin-right: auto;
    }

    &::after {
      content: '✔';
      opacity: 0;
      margin-left: auto;
    }

    &.shared {
      &::before {
        opacity: 1;
      }
    }
  }

  textarea {
    resize: none;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    border: none;
    padding: 0.6em 1.2em;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    color: rgba(var(--color), 1);
    outline: none;

    &:focus {
      outline: none;
    }
  }
}
